extends home

block content
    container-presta-list
        header
            h1 Tarjetas de Prescripción Médicas
        container-card
            each prestacion in prestacionesMedicas
                .card
                    .card-header Información del Paciente
                    .card-body
                        p Medico: #{prestacion.medico.nombre} #{prestacion.medico.apellido}
                        p Paciente: #{prestacion.paciente.nombre} #{prestacion.paciente.apellido}
                        p Documento del Paciente: #{prestacion.paciente.documento}
                        p Diagnóstico: #{prestacion.diagnostico}
                        p Fecha de la Prescripción: #{prestacion.fechaPrescripcion}
                        h5 Medicamentos Recetados:
                        ul
                        each medicamento in prestacion.medicamentos
                            li #{medicamento}