extends home

block content
    container-presta-list
        header
            h1 Tarjetas de Prescripción Médicas
        if prestacionesMedicas.length > 0    
            container-card
                each prestacion in prestacionesMedicas
                    .card
                        .card-header Información del Paciente
                        .card-body
                            p Medico: #{prestacion.medico.nombre} #{prestacion.medico.apellido}
                            p Paciente: #{prestacion.paciente.nombre} #{prestacion.paciente.apellido}
                            p Documento del Paciente: #{prestacion.paciente.documento}
                            p Diagnóstico: #{prestacion.diagnostico}
                            p Fecha de la Prescripción: #{prestacion.fechaPrescripcion}
                            h5 Medicamentos Recetados:
                            ul
                            each medicamento in prestacion.medicamentos
                                li #{medicamento}
        else 
             .alert.alert-warning.no-alert
                | No hay Prestaciones disponibles.