extends home

block content
    container-presta-list
        header
            .title-header-cards
                h1 Lista de Medicamentos
            .buttons-header
                a(href="/api/medicine/new" id="newElementMedicalMedicine" class="btn btn-success") Nuevo
        hr(style="margin-top: 20px; margin-bottom: 20px;")

        if medicines.length > 0
            container-card      
                each medicine in medicines
                    .card(class=medicine.state ? '' : 'alert-background')
                        .card-header
                            h5.card-title #{medicine.name} - Código: #{medicine.code}
                        .card-body.row 
                            .col-md-3                               
                                p.card-text
                                if medicine.ComercialMedicines
                                    h6 
                                        strong Nombre Comercial: 
                                        each item in medicine.ComercialMedicines
                                            p - #{item.name} 
                                h6 
                                    strong Activo: 
                                    | #{medicine.state ? 'Si' : 'No'}
                            .col-md-3
                                if medicine.ConcentratedMedicines.length > 0
                                    h6 
                                        strong Concentración:
                                        each item in medicine.ConcentratedMedicines
                                            p - #{item.quantity} #{item.magnitude}
                            .col-md-3
                                if medicine.QuantityMeds.length > 0
                                    h6
                                        strong Cantidad/es:
                                    each item in medicine.QuantityMeds
                                        p - Cantidad: #{item.quantity} unidades
                            .col-md-3
                                if medicine.PharmaForms.length > 0
                                    h6 
                                        strong Forma Farmacéutica
                                    each form in medicine.PharmaForms
                                        p - #{form.name}
                        .card-footer
                            a(href=`/api/medicine/${medicine.id}` class="btn btn-secondary") Editar

                            form(id='formDeleteCard' data-id=medicine.id data-module="medicine")
                                button(id='btnFormDeleteCard' type='submit' class="btn btn-danger" onclick="confirmDelete(event)") Eliminar
        else
            .alert.alert-warning.text-center(role='alert')
                i.fas.fa-exclamation-triangle.fa-2x
                h4 No hay medicamentos disponibles
                p Por favor, regrese más tarde o contacte al administrador del sistema.