extends home

block content
    .container-medicine-new         
        form(id="form-medicamento" action=medicine ? "/api/medicine/update" : "/api/medicine/create" data-id=medicine ? medicine.id: '' method="post")
            h1 #{medicine ? 'Editar' : 'Crear'} Medicamento
            label(for="name") Nombre del Medicamento:
                span(style="font-size: 13px; margin-left:10px; color: red;") *
                input(type="text" name="name" id="name" required value=medicine ? medicine.name : '')

            label(for="code" ) Código:
                span(style="font-size: 13px; margin-left:10px; color: red;") *
                input(type="text" name="code" id="code" required value=medicine ? medicine.code : '')
            
            label(for="checkActive") Activo:
                input(type="hidden" name="checkActive" value="Inactivo")
                input(type="checkbox" id="checkActive" name="checkActive" value="Activo" checked=medicine && medicine.state ? true : false)

            h3 Propiedades del medicamento:

            .container-propertites-medicine
                label(for="concentratedMedicineList") Concentracion:
                .container-concentrated-medicine
                    .half-width
                        label Cantidad:
                            span(style="font-size: 13px; margin-left:10px; color: red;") *
                            select(name="concentratedMedicineQuantityId" id="concentratedMedicineQuantityId")
                                option(value="") Seleccione una Cantidad
                                each cm in concentratedMedicine
                                    option(value=cm.quantity)= cm.quantity

                        label(for="quantityMedList") Unidades:
                            span(style="font-size: 13px; margin-left:10px; color: red;") *
                            select(name="quantityMedList" id="quantityMedList")
                                option(value="") Seleccione cantidad/unidad
                                each qm in quantityMed
                                    option(value=qm.id)= qm.quantity
                        
                        label(for="familyMedicineId") Familia:
                            span(style="font-size: 13px; margin-left:10px; color: red;") * Sino existe la familia, por favor cree una nueva. Agregando en el campo
                            input(list="familyList" id="familyMedicineName" name="familyMedicineName")
                            datalist(id="familyList")
                                option(value="") Seleccione una Familia
                                each ff in family
                                    option(value=ff.name.toUpperCase())= ff.name.toUpperCase()

                    .half-width
                        label Magnitud:
                            span(style="font-size: 13px; margin-left:10px; color: red;") *
                            select(name="concentratedMedicineMagnitude" id="concentratedMedicineMagnitude")
                                option(value="") Seleccione una Magnitud
                                option(value="MG") MG
                                option(value="G") G
                                option(value="ML") ML
                                option(value="CM3") CM3

                        label(for="pharmaFormList") Forma Farmacéutica:
                            span(style="font-size: 13px; margin-left:10px; color: red;") *
                            select(name="pharmaFormList" id="pharmaFormList")
                                option(value="") Seleccione forma
                                each pf in pharmaForm
                                    option(value=pf.id)= pf.name
                        
                        label(for="comercialName") Nombre Comercial:
                            span(style="font-size: 13px; margin-left:10px; color: red;") *
                            input(type="text" name="comercialName" id="comercialName")
                    
                        button#addConcentration(type="button") Añadir
               
                .selected-concentrations
                    ul#concentrationList
                        if medicine && items && items.length > 0
                            each item, index in items
                                li(data-quantity-id=item.quantityId data-magnitude=item.magnitude data-pharma-type-id=item.pharmaTypeId data-quantity-med-list=item.quantityMedList data-comercial-name=item.comercialName data-family-medicine-name=item.familyMedicineName)
                                    | Concentración: #{item.quantityId}#{item.magnitude}, Cantidades/Unidades: #{item.quantityMedList}, Forma Farmacéutica: #{item.pharmaTypeId}, Familia Farmacéutica: #{item.familyMedicineName}, Nombre Comercial: #{item.comercialName}
                                    button.remove-item(data-index=index) Eliminar    

            button(id='btnFormNewMedicine' type="submit") #{medicine ? 'Actualizar' : 'Crear'}
            button.btn.btn-secondary.ml-2(type="button" onclick="window.history.back();") Cancelar