extends home

block content
    container-medical-record-list
        header
            .title-header-cards
                h1 Lista de Registros Médicos
            .buttons-header                
                a(href="/api/medical-record/new" id="newElementMedicalRecord" class="btn btn-success") Nuevo
                button(onclick="location.href='/api/medical-record/generate-pdf'" class="btn btn-primary")
                    | Descargar PDF
        hr(style="margin-top: 20px; margin-bottom: 20px;")

        // Formulario de Filtro
        .filter-section.mb-4
            form(method="GET" action="/api/medical-record/filter")
                .row
                    .col-md-3
                        label(for="filternumberDocument") Numero Documento
                        input#dni.form-control(type="text" name="numberDocument" placeholder="Numero documento")
                    .col-md-3
                        label(for="filterDate") Fecha de Prescripción
                        input#filterDate.form-control(type="date" name="prescriptionDate")
                    .col-md-3
                        label(for="filterDisease") Enfermedad
                        input#filterDisease.form-control(type="text" name="disease" placeholder="Nombre de la enfermedad")
                    .col-md-3
                        label(for="filterSubmit") &nbsp;
                        button#filterSubmit.btn.btn-primary(type="submit") Filtrar

        if profesional
            .professional-info
                if profesional.User.rol == 'ADMIN'
                    h3 Información del Usuario
                    h4 #{profesional.User.Person.firstName} #{profesional.User.Person.lastName}
                else
                    h3 Información del Profesional
                    h4 Dr/Dra #{profesional.User.Person.firstName} #{profesional.User.Person.lastName}
                    p Especialidad: #{speciality.name}
                    p Role: #{profesional.User.rol}
                    p Email: #{profesional.User.email}
                    p REFEPS: #{profesional.idREFEPS}

        hr(style="margin-top: 20px; margin-bottom: 20px;")        
        if medicalRecords.length>0
            container-card
                h3 Informacion de Registros Medicos
                each record in medicalRecords
                    .card
                        .card-header 
                            strong #{record.Patients.User.Person.firstName} #{record.Patients.User.Person.lastName} - #{record.Patients.User.Person.typeDocument}: #{record.Patients.User.Person.numberDocument}
                        .card-body
                            p
                                strong Fecha de la Prescripción: 
                                | #{new Date(record.prescriptionDate).toISOString().split('T')[0]}
                            p
                                strong Enfermedad: 
                                | #{record.Sicknesses.name}
                            each benefit in record.Benefits
                                .benefit-medical-record
                                    p
                                        strong Prestación: 
                                        | #{benefit.name}
                                    p
                                        strong Sección: 
                                        | #{benefit.Sections.name}
                            each medicine in record.Medicines
                                .benefit-medical-record
                                    p
                                        strong Medicamento: 
                                        | #{medicine.name} - #{medicine.code}
                                        br
                                        strong Forma: 
                                        | #{medicine.PharmaForms.map(form => form.name).join(", ")}
                        .card-footer
                            a(href=`/api/medical-record/${record.id}` class="btn btn-secondary") Editar

                            form(id='formDeleteCard' data-id=record.id data-module="medical-record")
                                button(id='btnFormDeleteCard' type='submit' class="btn btn-danger" onclick="confirmDelete(event)") Eliminar
        
        else
            .alert.alert-warning.text-center(role='alert')
                i.fas.fa-exclamation-triangle.fa-2x
                h4 No hay registros médicos disponibles
                p Por favor, regrese más tarde o contacte al administrador del sistema.