extends home

block content
    .container-medicine-new         
        form(action=medicine ? "/api/medicine/update" : "/api/medicine/create" data-id=medicine ? medicine.id: '' method="post")
            h1 #{medicine ? 'Editar' : 'Crear'} Medicamento
            label(for="name") Nombre del Medicamento:
                input(type="text" name="name" id="name" required)

            label(for="code" ) Código:
                input(type="text" name="code" id="code" required)
                
            label(for="concentratedMedicineId" ) Concentracion:
            .container-concentrated-medicine
                .half-width
                    label Cantidad:
                        select(name="concentratedMedicineId" id="concentratedMedicineQuantityId" required)
                            option(value="") Seleccione una Cantidad
                            each cm in concentratedMedicine
                                option(value=cm.id)= cm.quantity
                .half-width
                    label Medida:
                        select(name="concentratedMedicineId" id="concentratedMedicineId" required)
                            option(value="") Seleccione una Concentración
                            option(value="MG") MG
                            option(value="G") G
                            option(value="ML") ML
                            option(value="CM3") CM3

            label(for="quantityMedId") Cantidad:
                select(name="quantityMedId" id="quantityMedId" required)
                    option(value="") Seleccione una Cantidad
                    each qm in quantityMed
                        option(value=qm.id)= qm.quantity

            label(for="pharmaFormId") Forma Farmacéutica:
                select(name="pharmaFormId" id="pharmaFormId" required)
                    option(value="") Seleccione una Forma Farmacéutica
                    each pf in pharmaForm
                        option(value=pf.id)= pf.name

            button(id='btnFormNewProf' type="submit") #{medicine ? 'Actualizar' : 'Crear'}

    script(type="application/json" id="plansOSData")!= JSON.stringify(plansOS)