extends home

block content
    .container-patient-new         
        form(action=patient ? "/api/patient/update" : "/api/patient/create" data-id=patient ? patient.id: '' method="post")
            h1 #{patient ? 'Editar' : 'Crear'} Paciente
            label(for="firstName") Nombre:
                input(type="text" name="firstName" id="firstName" value=patient ? patient.firstName : '')

            label(for="lastName") Apellido:
                input(type="text" name="lastName" id="lastName" value=patient ? patient.lastName : '')

            label(for="birthDate") Fecha Nacimiento:
                input(type="date" name="birthDate" id="birthDate" value=(patient && patient.birthDate ? new Date(patient.birthDate).toISOString().split('T')[0] : ''))

            label(for="numberDocument") N° Documento:
                input(type="text" name="numberDocument" id="numberDocument" value=patient ? patient.numberDocument : '')

            label(for="typeDocument") Tipo Documento:
                select(name="typeDocument" id="typeDocument")
                    option(value="" ) Seleccione un Tipo
                    option(value="DNI" selected=patient && patient.typeDocument == 'DNI') DNI
                    option(value="Pasaporte" selected=patient && patient.typeDocument == 'Pasaporte') Pasaporte
                    option(value="Otro" selected=patient && patient.typeDocument == 'Otro') Otros

            label(for="sex") Sexo:
                select(name="sex" id="sex")
                    option(value="" ) Seleccione un Sexo
                    option(value="Masculino" selected=patient && patient.sex == 'Masculino') Masculino
                    option(value="Femenino" selected=patient && patient.sex == 'Femenino') Femenino
                    option(value="Otros" selected=patient && patient.sex == 'Otros') Otros
           
            label(for="socialWorkInput") Obra Social:
                input(list="socialWorkList" id="socialWorkInput" name="socialWorkInput" placeholder="Escriba una Obra Social" value=patient ? patient.socialWorkName : '')
                datalist(id="socialWorkList")
                    option(value="" selected=!patient) Seleccione una Obra social
                    each socialWork in socialsWork
                        option(value=socialWork.name selected=patient && patient.socialWorkName == socialWork.name data-id=socialWork.id)= socialWork.name

            label(for="planOSInput") Planes:
                input(list="plansOSList" id="planOSInput" name="planOSInput" placeholder="Escriba una Plan" value=patient ? patient.planOSName : '')
                datalist(id="plansOSList")
                    option(value="" selected=!patient) Seleccione un Plan
                    each planOS in plansOS
                        option(value=planOS.name selected=patient && patient.planOSName == planOS.name)= planOS.name

            input(type="hidden" name="planOSId" id="planOSId")
            
            if !patient
                h3 Usuario
                label(for="username") Username:
                    input(type="text" name="username" id="username" value=patient ? patient.username : '')
                label(for="email", readonly=patient) Email:
                    input(type="email" name="email" id="email" value=patient ? patient.email : '')        
                label(for="passwordHash", readonly=patient) Password:
                    input(type="password" name="passwordhash" id="passwordHash")

            button(id='btnFormNewPat' type="submit") #{patient ? 'Actualizar' : 'Crear'}

    script(type="application/json" id="plansOSData")!= JSON.stringify(plansOS)