extends home

block content
    container-presta-list
        header
            .title-header-cards
                h1 Lista de Pacientes
            .buttons-header
                a(href="/api/patient/new" id="newElementCard" class="btn btn-success") Nuevo
        hr(style="margin-top: 20px; margin-bottom: 20px;")
        if patients.length > 0
            container-card
                each pat in patients
                    .card
                        .card-header #{pat.firstName} #{pat.lastName}
                        .card-body
                            p
                            | <strong>Fecha de Nacimiento:</strong> #{new Date(pat.birthDate).toISOString().split('T')[0]}
                            br
                            | <strong>Documento:</strong> #{pat.typeDocument}- #{pat.numberDocument}
                            br
                            | <strong>Sexo:</strong> #{pat.sex}
                            br
                            | <strong>Obra Social - Plan :</strong> #{pat.socialWorkName} - #{pat.planOSName}
                            br
                    
                        .card-footer
                            a(href=`/api/patient/${pat.id}` class="btn btn-secondary") Editar
                            form(id='formDeleteCard' data-id=pat.id data-module="patient")
                                button(id='btnFormDeleteCard' type='submit' class="btn btn-danger" onclick="confirmDelete(event)") Eliminar
        else
            .alert.alert-warning.text-center(role='alert')
                i.fas.fa-exclamation-triangle.fa-2x
                h4 No hay pacientes disponibles.
                p Por favor, regrese más tarde o contacte al administrador del sistema.