extends home

block content
    container-presta-list
        header
            .title-header-cards
                h1 Lista de Pacientes
            a(href="/api/patient/new" id="newElementCard" class="btn btn-primary") Nuevo
        hr(style="margin-top: 20px; margin-bottom: 20px;")
        container-card
            each pat in patients
                .card
                    .card-header #{pat.firstName} #{pat.lastName}
                    .card-body
                        p
                        | <strong>Fecha de Nacimiento:</strong> #{new Date(pat.birthDate).toISOString().split('T')[0]}
                        br
                        | <strong>Documento:</strong> #{pat.numberDocument} (#{pat.typeDocument})
                        br
                        | <strong>Sexo:</strong> #{pat.sex}
                        br
                
                    .card-footer
                        a(href=`/api/profesional/${pat.id}` class="btn btn-secondary") Editar

                        form(id='formDeleteCard' data-id=pat.id)
                            button(id='btnFormDeleteCard' type='submit' class="btn btn-danger" onclick="confirmDelete()") Eliminar
