extends home

block content
    container-presta-list
        header
            h1 Lista de Profesionales
        container-card
            each prof in profesionals
                .card
                    .card-header #{prof.firstName} #{prof.lastName} - ID REFEPS: #{prof.idREFEPS}
                    .card-body
                        p
                        br
                        | <strong>Dirección Legal:</strong> #{prof.legalAddress}
                        br
                        | <strong>Número de Registro:</strong> #{prof.registrationNumber}
                        br
                        | <strong>ID REFEPS:</strong> #{prof.idREFEPS}
                        br
                        | <strong>Especialidad:</strong> #{prof.name}
                        br
                        | <strong>Código:</strong> #{prof.code}
                        br
                        | <strong>Descripción:</strong> #{prof.description}
                        br
                        | <strong>Fecha de Nacimiento:</strong> #{new Date(prof.birthDate).toISOString().split('T')[0]}
                        br
                        | <strong>Documento:</strong> #{prof.numberDocument} (#{prof.typeDocument})
                        br
                        | <strong>Sexo:</strong> #{prof.sex}
