extends home

block content
    .container-profesional-new         
        form(data-id=profesional ? "update" : "create") //CAPAZZ Q ARME LOS FETCHS
            h1 #{profesional ? 'Editar' : 'Crear'} Profesional
            label(for="firstName") First Name:
            input(type="text" name="firstName" id="firstName" value=profesional ? profesional.firstName : '')

            label(for="lastName") Last Name:
            input(type="text" name="lastName" id="lastName" value=profesional ? profesional.lastName : '')

            label(for="birthDate") Birth Date:
            input(type="date" name="birthDate" id="birthDate" value=profesional ? profesional.birthDate : '')

            label(for="numberDocument") Number Document:
            input(type="text" name="numberDocument" id="numberDocument" value=profesional ? profesional.numberDocument : '')

            label(for="typeDocument") Type Document:
            select(name="typeDocument" id="typeDocument")
                option(value="DNI" selected=profesional && profesional.typeDocument == 'DNI') DNI
                option(value="Pasaporte" selected=profesional && profesional.typeDocument == 'Pasaporte') Pasaporte
                option(value="Otro" selected=profesional && profesional.typeDocument == 'Otro') Otros

            label(for="sex") Sex:
            select(name="sex" id="sex")
                option(value="Masculino" selected=profesional && profesional.sex == 'Masculino') Masculino
                option(value="Femenino" selected=profesional && profesional.sex == 'Femenino') Femenino
                option(value="Otros" selected=profesional && profesional.sex == 'Otros') Otros

            label(for="legalAddress") Legal Address:
            input(type="text" name="legalAddress" id="legalAddress" value=profesional ? profesional.legalAddress : '')

            label(for="registrationNumber") Registration Number:
            input(type="text" name="registrationNumber" id="registrationNumber" value=profesional ? profesional.registrationNumber : '')

            label(for="idREFEPS") ID REFEPS:
            input(type="text" name="idREFEPS" id="idREFEPS" value=profesional ? profesional.idREFEPS : '')

            label(for="profesionInput") Profesion:
            input(list="profesionList" id="profesionInput" placeholder="Escriba una Profesion")
            datalist(id="profesionList")
                option(value="" selected) Seleccione una Profesion
                each profesion in profesions
                    option(value=profesion.name data-id=profesion.id)= profesion.name

            label(for="specialityInput") Especialidad:
            input(list="specialityList" id="specialityInput" placeholder="Escriba una Especialidad")
            datalist(id="specialityList")
                option(value="" selected) Seleccione una Especialidad

            //- label(for="profesionInput") Profesion:
            //- input(list="profesionList" id="profesionInput" name="profesionInput" placeholder="Escriba una Profesion" value=profesional ? profesional.profesionName : '')
            //- datalist(id="profesionList")
            //-     option(value="" selected=!profesional) Seleccione una Profesion
            //-     each profesion in profesions
            //-         option(value=profesion.name selected=profesional && profesional.profesionName == profesion.name)= profesion.name

            //- label(for="specialityInput") Especialidad:
            //- input(list="specialityList" id="specialityInput" name="specialityInput" placeholder="Escriba una Especialidad" value=profesional ? profesional.nameSpeciality : '')
            //- datalist(id="speciality"s)
            //-     option(value="" selected=!profesional) Seleccione una Especialidad
            //-     each speciality in specialities
            //-         option(value=speciality.name selected=profesional && profesional.nameSpeciality == speciality.name)= speciality.name

            input(type="hidden" name="specialityId" id="specialityId")

            label(for="username") Username:
            input(type="text" name="username" id="username" value=profesional ? profesional.username : '')

            label(for="email") Email:
            input(type="email" name="email" id="email" value=profesional ? profesional.email : '')

            label(for="passwordHash" visible=profesional ? 'true' : 'false') Password:
            input(type="password" name="passwordHash" id="passwordHash" visible=profesional ? 'true' : 'false')

            button(id='btnFormNewProf' type="submit" onClick='profesionalPersistence()') #{profesional ? 'Actualizar' : 'Crear'}
                     
    script(type="application/json" id="specialitiesData")!= JSON.stringify(specialities)