extends home

block content
    container-presta-list
        header
            .title-header-cards
                h1 Lista de Profesionales
            .buttons-header
                a(href="/api/profesional/new" id="newElementCard" class="btn btn-success") Nuevo
        hr(style="margin-top: 20px; margin-bottom: 20px;")

        if profesionals.length > 0
            container-card
                each prof in profesionals
                    .card
                        .card-header #{prof.firstName} #{prof.lastName} - ID REFEPS: #{prof.idREFEPS}
                        .card-body
                            p
                            | <strong>Documento:</strong> #{prof.typeDocument}-#{prof.numberDocument} 
                            br
                            | <strong>Número de Registro:</strong> #{prof.registrationNumber}
                            br
                            | <strong>Especialidad:</strong> #{prof.nameSpeciality}
                            br
                            | <strong>Código:</strong> #{prof.profesionCode}                            
                            br
                    
                        .card-footer
                            a(href=`/api/profesional/${prof.id}` class="btn btn-secondary") Editar
                            form(id='formDeleteCard' data-id=prof.id data-module="profesional")
                                button(id='btnFormDeleteCard' type='submit' class="btn btn-danger" onclick="confirmDelete(event)") Eliminar
        else
            .alert.alert-warning.text-center(role='alert')
                i.fas.fa-exclamation-triangle.fa-2x
                h4 No hay profesionales disponibles.
                p Por favor, regrese más tarde o contacte al administrador del sistema.